@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "CAA";
}
@section Styles{
    <environment include="Development">
        <link rel="stylesheet" href="~/css/aca.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/aca.min.css" />
    </environment>
}
@section HeadBanner{
    <header id="mainHeader" class="jumbotron">
        <div class="container text-right">
            <h1>@Localizer["It's time to send our paper plane!"]</h1>
            <h2>@Localizer["Please save director with us!"]</h2>
        </div>
    </header>
}
<section id="secIntroduction" class="content-sec">
    @Localizer["Content"]
</section>

<section>
    <div id="mailContentView" class="modal-body container">ご多忙中恐れ入ります、お伝えしたい件がございます。 アニメ「けものフレンズ」は放送中に大ヒットし、全世界から注目を受けました。しかし、最も重要なクリエイター たつき監督は、9月25日にプロジェクトから外れることを公表し、国内外に広くショックを与えました。そして、私達を含む他の消費者に心理的・経済的に多大な損害を与えました。 株式会社KADOKAWAがリードする製作委員会（以下KFPA）からのプロモーションは、アニメ第2期がすぐに放送され、またたつき監督の作品になると思わせるものであったため、消費者は9月25日までに多くの関連商品を購入しました。 しかし騒動が発生した2日後、KFPAはたつき監督の所属する会社ヤオヨロズが、8月に入った段階で既に辞退したという声明を発表。8月初旬から9月27日まで、KFPAは実際の情報を隠し、商品をそれまでと同様に宣伝・販売し、私達を含む多くの消費者を騙していた可能性があります。 消費者はたつき監督の突然の降板や第2期の制作方法変更を知らされず、KFPA発行の書籍に掲載された「けものフレンズ2 (SECOND SEASON)制作決定！」という宣伝により、2期が1期と同じような制作形態だとミスリードを誘われました。このため、関連の商品を購入したことによる経済的損失を受けたと考えられます。この件は「不当景品類及び不当表示防止法」の条件を満たすと思われるため、消費者庁は対応すべきです。 同時に、KFPAが発表した声明には欠陥があると思われます。「ヤオヨロズには、関係各所への情報共有や連絡がないままでの作品利用があった」という指摘に具体的な証拠がなく、消費者は発表から有益な情報が得られません。消費者庁はKFPAに、真実の公表により「消費者の知る権利」を保護するよう促すべきと思われます。 最後までお読み頂き、ありがとうございました。</div>
    <div class="modal-footer">
        <a class="btn btn-primary" href="#" id="modalBtnSubmit">@Localizer["Copy and go to submission site."]</a>
    </div>
    <div class="content" style="margin: auto;">
        <img src='\images\aca\IJKLONghks-4.jpg' width='600' height='700' />
    </div>  
</section>

@section Scripts{
    <environment include="Development">
        <script src="~/js/caa.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/caa.min.js" 　asp-append-version="true"></script>
    </environment>
}
