@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "UnconfirmedInfo";
}
@section HeadBanner{ 
    <header id="mainHeader" class="jumbotron">
        <div class="container text-right">
            <h1>@Localizer["It's time to send our paper plane!"]</h1>
            <h2>@Localizer["Please save director with us!"]</h2>
        </div>
    </header>
}
<h1>Unconfirmed Info</h1>
<p>@Localizer["Disclaimer"]</p>
<article>
@Localizer["Content"]
</article>