@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "UnconfirmedInfo";
}
@section HeadBanner{ 
    <header id="mainHeader" class="jumbotron">
        <div class="container text-right">
            <h1>@Localizer["It's time to send our paper plane!"]</h1>
            <h2>@Localizer["Please save director with us!"]</h2>
        </div>
    </header>
}
<h1>Unconfirmed Info</h1>
<p>This article is unconfirmed and subjected to Save Japari Park's <a asp-controller="Home" asp-action="Disclaimer"><span style="color:red">disclaimer</span></a>.</p>
<article>
    <h2>動物朋友監督撤換事件的“受波及者“，或許是真正的“事件起因”？</h2>
    <p>一手操辦大人氣動畫《動物朋友》（けものフレンズ）的たつき監督，在9月25日發推報告自己被解職，從動畫製作團隊中剔除，一時間激起軒然大波，幾個小時就有了數十萬的轉發量。而後事情的發展更是撲朔迷離，至今沒有一個清晰的結論。<br/>
        動畫官方在9月27日的公告更是指出，不止たつき監督離開，而是整個動畫製作公司“八百萬“（ヤオヨロズ）公司辭退。其中最引人注目又讓人捉摸不透的是這樣一句話：”原先負責動畫製作的ヤオヨロズ株式会社，並未盡到和其他企劃相關人員良好溝通、分享資訊與情報的責任，甚至還在未經成員同意、授權的情況下有不當利用本作品版權的行為“（“アニメーション制作を担当していただきましたヤオヨロズ株式会社には、関係各所への情報共有や連絡がないままでの作品利用がありました。” ）。</br>
        要知道，日本對版權管理非常看重，這樣的説法是很嚴重的指控，自然又是讓人議論紛紛。剛剛與動物朋友合作過並由八百萬製作宣傳動畫的JRA（日本賽馬協會）和日清食品第一時間發表聲明，澄清他們的合作企劃經過授權。疑點轉移至監督公開發表的“12.1“話上面，然而原作者吉崎先生之前的一系列發言也證實了這不是” 不當利用作品版權“的證據。<br/>
        這個事關たつき監督爲何會被解職的謎題，是這次整個事件的核心，一直都沒有獲得解答。直到今天。</p>
    <br/>
    <h2>高墻的一道縫隙</h2>
    <p>事件真相的揭開竟然是從一個不太起眼的消息開始。</br>
    10月17日，一個有些古怪的消息出現在眼前：“…中国上映会，主办是通过动画制作公司ヤオヨロズ，也就是たつき监督的合作公司引进，与角川无关…“ 以上言論出自中國live上映會舉辦方官方賬號在微博上轉發的一個媒體賬號。9月25日當天公開宣佈的中國live上映會，一直被當作這次事件的受波及者，因遭到粉絲抵制而票房慘淡。</p>
    <img src="~/images/ucinfo/image2.png" />
    <br/>
    <p>這究竟是主辦方臨時救火挽救票房的説辭，還是確有其事？角川公司作爲作品版權的持有者，如果這個活動真是由八百萬公司引進而與角川無關，那就分明是在說八百萬“不當利用本作品版權“。然而，舉辦單位的名單中，并沒有八百萬公司。<br/>
    正是這個奇怪的消息，引起的筆者的興趣，就像高墻上的一道縫隙窺見了背後事實的真相。<br/>
    調查發現，這則消息最早出現在一個名叫“JPbeta“的資訊網站上，其作者（王某某）就是這個名叫Aninews的媒體賬號的管理人。王某某任職于Aninews的母公司上海索罗游信息技术有限公司，同時和主辦方上海牡丹影视传播有限公司（萬代南宮夢文化中心）有工作關係。<br/>
    在JPbeta的文章中有更詳細的信息：“株式会社Kay Production通过动画制作公司ヤオヨロズ的社长福原慶匡的介绍，和《兽娘动物园》的版权方Age Global Networks进行了沟通最终引进……没有KADOKAWA什么事情“</p>
    <br/>
    <h2>株式会社Kay Production又是什麽？</h2>
    <p>株式会社Kay Production 是一家今年在日本剛剛成立的小公司，成員衹有不到10人。2017年7月5日在中國注冊（上海旭逸文化传媒有限公司）運營。這樣的公司是怎麽接到動物朋友這樣的大熱IP的生意呢？<br/>
    一步步仔細調查，一些看似不相干的綫索最後得出的結論令人喫驚。<br/>
    株式会社Kay Production的取締役，也是創始人，名叫張永青，來自中國上海。之前是一名ACG愛好者，與王某某熟識，都曾經為一本名叫《二次元狂熱》的雜志撰稿，兩人至今仍然關係密切。後來，張永青前去日本工作，2015-2016年閒在DMM.future公司任職，而這一時段正是ヤオヨロズ的社长福原慶匡作爲DMM.future取締役的時間。張永青就是此時認識了福原慶匡。可以看到，兩人在Facebook上有好友關係。</p>
    <img src="~/images/ucinfo/image3.png" width="624" height="396" />
    <br/>
    <h2>中國上映會</h2>
    <p>之後，張永青离开DMM，与人合伙创办Kay Production，主要業務從日本引进亚文化产品到中國。公司唯一能夠利用的就是張永青在兩國的人脈資源。<br/>
    今年八月初，張永青利用與福原的個人關係，聯係到Age Global Networks，又利用在中國的關係聯係到主版場地和宣傳單位（上海牡丹影视传播有限公司，以及他自己的上海旭逸文化传媒有限公司）。Age Global Networks通過他的中介，與中國的公司協商，促成了這次上映會。而這個過程八百萬公司并沒有參與。<br/>
    9月25日，たつき監督發佈推特說自己被解職。直到10月15日上映會門票依舊滯銷。無奈之下，張永青不得不授意王某某寫了上述文章並發出誤導觀衆的消息，想利用“上映會由八百萬引進，與角川無關“這樣的宣傳挽回門票銷量。<br/>
    Age Global Networks是製作委員會的一員，主要負責動物朋友的宣傳，銷售工作，在動物朋友的歷次活動中負責票務，宣傳等工作（協力）。旗下的“Clion Market”販售各種動物朋友的相關產品，還負責動物朋友舞臺劇DVD的製作發行。有趣的一點是，負責動物朋友logo設計的公司頁面顯示其顧客為兩家：株式会社KADOKAWA、Age Global Networks株式会社。這説明其在製作委員會中出資不低，甚至能和角川并列。<br/>
    而福原能夠聯係上Age Global Networks，也是因爲個人關係。Age Global Networks的志村麻奈貴與福原曾經在“ガールフレンド（♪）”這部作品中有過合作，而志村麻奈貴同時也負責動物朋友的宣傳。另外她還參與Clion Market的管理。</p>
    <img src="~/images/ucinfo/image1.png" />
    <h2>事情的真相是？</h2>
    <p>張永青宣稱的後半部分沒有錯，”中國上映會與角川無關“。衆所周知中國的市場廣大，對日本ACG產業的消費與投資日益增加。角川在中國也有相應分支，但進入中國的第一個活動卻和角川無關，窗口被別人提前搶占。此前有另外的某次活動的新聞稿中特意提過主辦單位是角川的全資子公司，這表明角川有意把活動舉辦也控制在自己手中。<br/>
    企業掙錢，本就天經地義，爲了在這個IP大熱之後從中獲得更大的利益，角川勢必要將八百萬公司邊緣化，達到稀釋股權與決定權的目的。爲什麽必須排除八百萬公司？因爲在一期動畫大熱之後，幾乎所有觀衆都將其歸功於たつき監督化腐朽爲神奇的力量，認爲消極投資的角川公司僅僅是搭上順風車。而且監督自己包辦，慢工出細活的工作方式無法滿足角川所需要的大規模生產。<br/>
    因此，這件事更是加强了角川把動物朋友完全攥在自己手裏的想法，恰好也給了角川一個攻擊八百萬公司的理由。於是出現了那份公告中” 未經成員同意、授權的情況下有不當利用本作品版權的行為“的説法。然而因爲八百萬公司實際上并沒有參與引進，外界根本不會得到進一步詳細的解釋。而且，Age Global Networks在製作委員會中與角川地位相當，也是版權方之一，已經成行的上映會無法被阻止。爲了增强對版權的控制，首當其衝的就是八百萬公司（如今的業界動畫製作公司在製作委員會中地位低下已是常態）。<br/>
    但是，動物朋友的特殊之處就在於，正是八百萬公司和たつき監督製作的動畫，將這個原本將死的IP變成了第一熱門的話題之作。即使是合法的股權變更，對觀眾而言，最直接的結果就是創造奇跡的監督被炒魷魚。觀眾心目中尊敬崇拜的英雄，在現實的商業利益面前不過是可憐的給人做嫁衣的打工仔。這樣悲劇的結局讓所有人都無法接受。<br/>
    諷刺的是，造成這一事端的株式会社Kay Production，也是爲了商業利益而散佈“八百萬引進live“的消息，最終卻引導關注這個事件的人尋找到真相。<br/>
    本文發表前，筆者曾試圖聯係株式会社Kay Production和張永青進行采訪，但遭到了拒絕。之後，張永青把福原從Facebook好友中刪除。</p>
    <img src="~/images/ucinfo/image4.png" width="624" height="352"/>
</article>