body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

/* Select */
.dropdown-select{
    padding-top: 15px;
    padding-bottom: 15px;
}

.dropdown-select > label {
    color: #9d9d9d;
}

/* Letter box */
.letter {
    white-space: pre-line;
    border-radius: 5px;
    margin: 1em 0;
    width: 100%;
    outline: none;
    border: 0 none;
    background-image: url("../images/linedpaper.png");
    background-repeat: repeat;
    padding: 2em 1em .5em;
}

img#qr {
    width: 10vmin;
}

/* Remove pre-format */
pre {
    display: block;
    font-family: monospace;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-break: break-all;
    word-wrap: break-word;
    background-color: rgba(0,0,0,0);
    border: 0;
    border-radius: 0;
}