/**
 Notification Area
*/
/* Notification Container */
#notification-area {
    position: fixed;
    top: 0;
    width: 60%;
    left: 50%;
    margin-left: -30%; /* Negative half of width. */
    z-index: 2147483647;
}

/* Notification Message */
.notification {
    height: auto;
    padding: 10px;
    background: rgba(94, 94, 94, 0.9);
    box-shadow: 0 0 2px rgba(0,0,0,0.35);
    text-align: center;
    width: 100%;
    font-size: 16px;
    color: #fff;
    /* text-shadow: 1px 1px 0 #999; */
    display: none;
}

/*
  Custom Noti Style
  Usage: .noti-<<mode>>
*/
.noti-success {
    background: rgba(223, 240, 216, 0.9);
    color: #3c763d;
}

.noti-warning {
    background: rgba(252,248,227,0.90);
    color: #8a6d3b;
}

.noti-danger {
    background: rgba(255,81,81,0.90);
}
